.insert-video-modal {
    .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 0 1rem 0;
        color: var(--text);
        text-align: center;
    }

    .src-input-group {
        display: flex;
        border-radius: 200px;
        overflow: hidden;

        input {
            flex: 1;
            padding: 0.5rem 0.75rem;
            border: 1px solid var(--border);
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            font-size: 1rem;
            color: var(--text);
            background: var(--bg);

            &:focus {
                outline: none;
                border-color: var(--accent);
            }
        }

        button {
            padding: 0.5rem 1rem;
            background: var(--accent);
            color: var(--alt-text);
            border: none;
            font-weight: 600;
            cursor: pointer;
            white-space: nowrap;

            animation: ease 1s opacity;

            &:hover {
                opacity: 0.9;
            }
        }

    }

    .error-txt {
        color: var(--danger);
        font-size: 0.875rem;
        align-self: center;

        background-color: color-mix(in srgb, var(--danger) 12%, transparent);
        padding: 0.25rem 0.5rem;
        border-radius: 20px;
    }
}