.lesson-id-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: min(95%, 1000px);
  margin: 0 auto;

  .lesson-name {
    text-align: center;
    padding: 0.2rem;

    &.editable {
      border: var(--muted-text) 2px dashed;
    }
  }
}
