.lessons-main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg);

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem;

        h1 {
            margin: 0;
        }
    }

    main {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1.5rem;
        width: min(100%, 1200px);
        flex-grow: 1;
    }
}

@media ( max-width: 768px ) {
    .lessons-main-page {
        main {
            gap: 1rem;
        }
    }
}
