.equationModal {
    width: clamp(50%, 75%, 90%);

    h1 {
        text-align: center;
    }

    .KatexEquationAlterer_defaultRow {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: start;
        align-items: center;
        overflow: hidden;

    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 2px solid var(--accent);
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease;

        margin-left: 1rem;
    }

    input[type="checkbox"]:checked {
        background-color: var(--accent);
    }

    input[type="checkbox"]:checked::after {
        content: '✓';
        position: absolute;
        left: 12.5%;
        top: -5%;
        color: var(--bg);
        font-size: 14px;
    }

    p {
        text-align: center;
    }

    .KatexEquationAlterer_dialogActions {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 0;
        justify-content: center;

        button {
            padding: 0.5rem 1rem;
            background-color: var(--accent);
            color: var(--alt-text);
            border-radius: 28px;
            border: none;
        }
    }

    .KatexEquationAlterer_centerRow {
        display: flex;
        flex-direction: 'row';
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        overflow: hidden;
    }

    .KatexEquationAlterer_textArea {
        width: 100%;
        resize: none;
        padding: 7px;
    }

    .previewBox {
        border: var(--muted-text) 1px dashed;
        min-height: 2rem;
    }
}

@media (max-width: 768px) {
    .equationModal {
        width: 80%;
    }
}
